Sample Requirement:
1. Navigate to https://opensource-demo.orangehrmlive.com/web/index.php/auth/login.

3. Enter username as Admin 
4. Enter password as admin123 in the password field.
5. Click the Login button to submit the form.
6. Verify the user is redirected to the home page after successful login.
7. Click PIM
